.budget-item-wrapper {
  background-color: $light-clr;
  padding: 0.5rem;
  width: 90vw;
  border-radius: $primary-border-radius;
  box-shadow: $primary-box-shadow;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
  }
}
.progress-wrapper {
  width: 70px;
  height: 70px;
}
.disabled {
  opacity: 0.5;
}
