.month-card {
  padding: 0.75rem;
  color: $dark-text-clr;
  background-color: transparent;
  //meant to match the slider speed
  transition: transform 300ms;
  transform: scale(0.8);
  opacity: 0.5;
  border-radius: $primary-border-radius;
  h4 {
    text-transform: uppercase;
  }
}
.active-month-card {
  transform: scale(1);
  opacity: 1;
}
