.slider-container {
  position: relative;
  width: 100vw;
  text-align: center;
  margin: auto;
  border-radius: $primary-border-radius;
  box-shadow: $primary-box-shadow;
}
.year {
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: $primary-border-radius;
  font-weight: 700;
  color: $light-clr;
  opacity: 0.9;
  span {
    font-size: 0.9rem;
  }
}
