.chip {
  border-radius: $primary-border-radius;
  margin-left: 5px;
  color: $main-text-clr;
  padding: 2px 5px;
  background: linear-gradient(145deg, #dddde4, #ffffff);
}
.alternative-chip {
  background: $alternative-clr;
  color: $light-clr;
  padding: 3px 8px;
}
