$success-bg-clr: linear-gradient(
  to bottom right,
  rgba(186, 228, 209, 0.7),
  rgba(186, 228, 209, 0.5)
);
$error-bg-clr: linear-gradient(
  to bottom right,
  rgba(254, 128, 129, 0.6),
  rgba(254, 128, 129, 0.4)
);
$light-bg-clr: #f5f5fd;
$highlight-bg-clr: linear-gradient(45deg, #9999b0, rgba(121, 86, 150, 0.65));
$success-text-clr: #0b7e32;
$error-text-clr: #860c0c;
$main-text-clr: #222;
$muted-text-clr: #bababa;
$light-clr: #fff;
$dark-clr: #000;

$primary-box-shadow: 5px 5px 10px #d0d0d7, -5px -5px 10px #ffffff;
$primary-border-radius: 8px;
